/* Common code start here */
:root {
    --primary-color: #fff;
    --secondary-color: #333;
    --brand-color: #30c39e;
    --optional-color: #;
}

body {
    margin: 0;
}

.container-fluid {
    width: 100%;
    margin: 0px auto;
}

.container {
    width: 92%;
    margin: 0px auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
}

span a {
    display: inline-block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: end;
}

/* Common code end here */

/* header section start here */
.header-section {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
    background-size: cover;
    height: 500px;
}